body{
  background-color: #EFF5F5;
}
hr{
  border-style: dotted none none none;
  border-color:#3C4048;
  border-width: 4px;
  width: 5%;
}
img{
  height: 140px;
}
h1{
  color: white;
}
h2{
  color:#0D4C92;
}
h3{
  color:#3C4048;
  text-decoration: underline #3C4048;
}
.background{
  background-image: linear-gradient(to left, #DECBA4, #3E5151);
}
p{
  color:white;
}
li{
  color:#3C4048;
}
.color{
  color:#3C4048;
}
.contact{
  color:#3C4048;
}
